<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加新文章</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <br />
                <div class="panel panel-default">
                    <div class="panel-heading"><h1>添加新文章</h1></div>
                    <div class="panel-body">
                        <form method="post" th:action="@{/art}" th:object="${article}">
                            <div>
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label class="" for="title">文章标题</label>
                                <input th:field="*{title}" class="form-control" name="title" id="title" type="text" />
                                <span class="fieldError" th:if="${#fields.hasErrors('*{title}')}" th:errors="*{title}"></span>
                            </div>
                            <div class="form-group">
                                <label class="" for="smalltitle">短标题</label>
                                <input class="form-control" name="smalltitle" id="smalltitle" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="" for="source">来源</label>
                                <select th:field="*{source}" class="form-control" name="source" id="source">
                                    <option value="网络">网络</option>
                                    <option value="原创">原创</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="" for="">是否锁定</label>
                                <input th:field="*{artLock}" name="lock" id="lockFalse" type="radio" value="0" />未锁定
                                <input th:field="*{artLock}" name="lock" id="lockTrue" type="radio" value="1" />锁定
                            </div>
                            <div class="form-group">
                                <label for="content">文章内容</label>
                                <script name="editor" id="editor"></script>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="保存" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{layouts/bootstrap::bootstrap}" />
    <th:block th:replace="~{layouts/ueditor::ueditor}" />
    <script type="text/javascript">
        UE.getEditor('editor', {
            initialFrameHeight: 500,
            serverUrl: '/ueditor'
        });
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function(action) {
            if (action == 'listimage') {
                return "[[@{'/listimage'}]]";
            } else if (action == 'uploadimage') {
                return "[[@{'/uploadimage'}]]"
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        }
        /*KindEditor.ready(function(K) {
            K.create('#editor', {
                uploadJson : "[[@{'/uploadfile'}]]",
                fileManagerJson : "[[@{'/filemanager'}]]",
                allowFileManager : true,
                width: '100%',
                height: '500px',
            });
        });*/
    </script>
</body>
</html>